<div class="index_r" id="about">
	<h1 class="content-title" data-i18n="about_cbd.title"></h1>

	<img src="/skin/images/大麻叶.jpg" />

	<p class="content" data-i18n="about_cbd.feature_1"></p>

	<img style="margin-top:0" src="/skin/images/CBD_1.jpg" />

	<p class="content" data-i18n="about_cbd.feature_2"></p>

	<p class="sub-content-title" data-i18n="about_cbd.info_title"></p>
	<img src="/skin/images/CBD_2.jpg" />

	<div class="footer"></div>
</div>

<script type="text/javascript">
	$('#about').localize();
</script>