<div class="index_r" id="brand">
	<h1 class="content-title">HEMPLUS</h1>
	
	<img src="/skin/images/cbd_banner.jpg" />

	<p class="benefit" data-i18n="brand_story.benefit"></p>

	<p class="content" data-i18n="brand_story.content_1"></p>

	<p class="content" data-i18n="brand_story.content_2"></p>

	<div class="footer">We only sell our CBD products online. Our THC products can only be purchased from a state licensed retailer. </div>
</div>

<script type="text/javascript">
	$('#brand').localize();
</script>