<div class="index_r" id="product">	
	<div id="product_1">
		<div class="product-detail">
			<img src="/skin/images/眼霜.jpg" />
			<div class="right">
				<p class="feature" data-i18n="shop.product_1.feature"></p>
				<p class="name" data-i18n="shop.product_1.name"></p>
				<div class="bottom">
					<div class="rating">
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
					</div>
					<p class="price" data-i18n="shop.product_1.price"></p>
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<div>
			<h1 class="sub-content-title" data-i18n="shop.product_1.product_info"></h1>
			<p class="content" data-i18n="shop.product_1.product_info_detail"></p>

			<h1 class="sub-content-title" data-i18n="shop.product_1.use_info"></h1>
			<p class="content" data-i18n="shop.product_1.use_info_detail"></p>
		</div>
	</div>

	<div id="product_2">
		<div class="product-detail">
			<img src="/skin/images/精华.jpg" />
			<div class="right">
				<p class="feature" data-i18n="shop.product_2.feature"></p>
				<p class="name" data-i18n="shop.product_2.name"></p>
				<div class="bottom">
					<div class="rating">
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
					</div>
					<p class="price" data-i18n="shop.product_2.price"></p>
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<div>
			<h1 class="sub-content-title" data-i18n="shop.product_2.product_info"></h1>
			<p class="content" data-i18n="shop.product_2.product_info_detail"></p>

			<h1 class="sub-content-title" data-i18n="shop.product_2.use_info"></h1>
			<p class="content" data-i18n="shop.product_2.use_info_detail"></p>
		</div>
	</div>

	<div id="product_3">
		<div class="product-detail">
			<img src="/skin/images/面霜.jpg" />
			<div class="right">
				<p class="feature" data-i18n="shop.product_3.feature"></p>
				<p class="name" data-i18n="shop.product_3.name"></p>
				<div class="bottom">
					<div class="rating">
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
						<i class="fa selected fa-star"></i>
					</div>
					<p class="price" data-i18n="shop.product_3.price"></p>
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<div>
			<h1 class="sub-content-title" data-i18n="shop.product_3.product_info"></h1>
			<p class="content" data-i18n="shop.product_3.product_info_detail"></p>

			<h1 class="sub-content-title" data-i18n="shop.product_3.use_info"></h1>
			<p class="content" data-i18n="shop.product_3.use_info_detail"></p>
		</div>
	</div>

	<div class="footer"></div>
</div>

<script type="text/javascript">
	$('#product').localize();

	var id = location.hash.split('?id=')[1];

	$('#product_1').css({
		display: 'none'
	});
	$('#product_2').css({
		display: 'none'
	});
	$('#product_3').css({
		display: 'none'
	});

	$('#product_' + id).css({
		display: 'block'
	});
</script>